.content {
    margin: 5px;
    padding: 10px;
    grid-area: c;
    background-color:rgb(197, 245, 247);
   }
  
  .Profile {
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
  
   }
  