/* .dialog {
  text-decoration: none;  
}
 */
.dialog a {
  text-decoration: none;
  color:cornflowerblue; 
  padding: 0px 0px 0px 10px;
  position: relative;
  top: -20px;
}

.dialog a:active, a:hover {
  color:darkcyan;
  text-decoration: underline;
 
}

.dialogsItems {
  padding: 10px;
}

.dialogItem {
  background-image: url(./dialogItem.png);
  width: 60px;
  height: 60px;
  border-radius: 30px;
  
  
}
