 .postsBlock {
    color:darkblue;
    padding: 10px;
 }
 
 .posts {
   margin: 10px;
 }

 .button {
   margin-left: 150px;

 }

 .btn {
  background: #008EB0;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  top: -10px;
  margin: 10px 10px ;

}

 .textarea {
  width: 15%;
  height: 50px;
  padding: 6px 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color:rgb(217, 244, 244);
  font-size: 16px;
  resize: none;
}