.nav {
    margin: 5px;
    padding: 10px;
    grid-area: n;
    background-color:rgb(244, 203, 246);
  }

.item a {
    color: white;
    text-decoration: none;
}


.item a:hover {
  color:black;
  text-decoration: underline;
}

.item .active {
  color:black;
  text-decoration: underline;
}
