.nav {
    margin: 5px;
    padding: 10px;
    grid-area: n;
    background-color:rgb(244, 203, 246);
  }

.item a {
    color: white;
    text-decoration: none;
}

.item a:active, a:hover {
  color:black !important;
  text-decoration: underline;
}
