.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
 }

/* .dialog {
  text-decoration: none;  
}
 */
.dialog a {
  text-decoration: none;
  color: white;  
}

.dialog a:active, a:hover {
  color:darkblue;
  text-decoration: underline;
}

.dialogsItems {
  padding: 10px;
}

.messages {
  padding: 10px;
  color: white;
}

.message:hover {
  color:darkcyan;
}

.textarea {
  width: 300px;
  /* height: 50px; */
  padding: 6px 100px 10px 6px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color:rgb(217, 244, 244);
  font-size: 16px;
  resize: none;
}

.btn {
  background: #008EB0;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  top: -60px;
  right: -220px;
  margin: 10px 10px ;

}

.addMessage {
  padding: 25px 0px 0px 100px;
  margin: 0px 0px 18px 0px;
}